@font-face {
    font-family: "TT Lakes";
    src: url("/fonts/TTLakes-Medium.woff") format("woff2"),
    url("/fonts/TTLakes-Light.woff") format("woff");
}

* {
    font-family: "TT Lakes", sans-serif;
    box-sizing: border-box;
}


body {
    margin: 0;
}

.nav {
    display: none;
}

.main {
    background-color: #F8F8F8;
    max-width: 1120px;
    margin: 0 auto;
    height: 100%;
}

.main__header {
    width: 100%;
    max-height: 90px;
    display: flex;
}

.main__header__title {
    padding: 42px 0 0 32px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.main__header__title::before {
    position: relative;
    left: -33px;
    margin: 0;
    content: " ";
    height: 40px;
    width: 3px;
    border-radius: 5px;
    border-right: 5px solid #41F6D7;
}

.main__header-settings {
    width: 55%;
    margin-left: auto;
    padding-top: 42px;
    display: flex;
    justify-content: flex-end;
}


.main__header__img {
    height: 40px;
    vertical-align: middle;
    padding-left: 8px;
}


.main__header__link{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}

.main__menu {
    display: flex;
    padding: 8px 32px;
    overflow-x: auto;
    flex-wrap: wrap;
}

.main__menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.main__menu__button {
    background-color: transparent;
    border: 0;
    padding: 8px 20px;
    font-size: 16px;
    color: #7E7E82;
    white-space: nowrap;
}

.main__menu__button:active {
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 6px 18px;
}

.main__content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px 50px 30px;
    justify-content: space-between;
}

.main__content__text {
    font-weight: 400;
    letter-spacing: 0.2px;
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
}

.main__content__text article {
    height: 160px;
    width: 490px;
}

.main__content__item-more {
    padding-top: 16px;
}

.main__content__icon-more{
    padding-left: 9px;
}

.main__content__text-more {
    font-weight: 500;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 16px;
}

.main__content__img{
    border-radius: 6px;
    width: 530px;
}